*{
    color: #fff;
}

.color {
    background-color: #1b7f6d;
}

input::placeholder {
    color: #fff;
}

.input-group-prepend.color {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

span#basic-addon1 {
    border: none;
    border-radius: 13px;
}

input.form-control.color {
    border: none;
    padding-left: 0;
}

.border {
    border: none !important;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bg-color {
    background-color: #1b7f6d;
}

.h-1 {
    height: 40px;
}

.h-2 {
    height: 75px;
}

.h-3 {
    height: 30px;
}

.l-1:hover {
    background-color: #ff8c00;
}

.l-1 {
    height: 20px;
}
.mr-30{
    margin-left: -30px;
}
.h-1:hover {
    background-color: #176a5b;
}

.active{
    background-color: #ff8c00 !important;
}

.control-group button {
    background-color: #1b7f6d;
    border-radius: 20px;
    border: none;
    color: #fff;
    margin-left: 1px;
    font-size: 15px;
}

.control-group button:hover {
    background-color: #ff8c00;
}

.b-t {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.b-b {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab {
    padding-left: 5px;
    padding-top: 5px;
}

.font {
    color: #fff;
}

.clener svg {
    fill: #fff;

    path {
        fill: #fff;
    }
}

.left-sidebox {
    margin-left: -35px;
    max-width: 380px;
    width: 100%;
}

.containerss {
    height: 370px;
    background-color: #1f947f;
}

.footer {
    height: 100px;
    background-color: #176a5b;
}

.f-1,
.f-2,
.f-3 {
    height: 30px;
}

.bottom-slider .bg-light-box {
    height: 60px;
    background-color: #176a5b;
    position: relative;
    border-radius: 10px;
    bottom: 0px;
    margin-left: -35px;
}

.geotool-bottom.d-flex.justify-content-between {
    margin-bottom: 0px;
}

.small-line:hover {
    background-color: #ff8c00;

}

.small-line {
    position: absolute;
    width: 30px;
    height: 3px;
    cursor: pointer;
    background-color: #fff;
    top: 5px;
    left: calc(50% - 25px);
}

.tab-1 {
    width: 27%;
    padding-right: 0;
}

.tab-2 {
    width: 73%;
    position: relative;
    min-height: calc(100vh - 85px);
}

.bottom-slider {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 10px;
}

.line {
    display: flex;
    justify-content: center;
    margin-right: 250px;
    margin-top: -10px;
}

.line svg:hover {
    rect {
        fill: #ff8c00 !important;
    }
}

.gtool {
    height: 40px;
    width: 40px;
    background-color: #57a598;
    border-radius: 50%;

    svg {
        fill: #fff;

        /* stroke: #fff; */
        path {
            fill: #fff;
        }
    }
}

.geotool .gtool:hover {
    background-color: #176A5B;
}

.icon-fill svg {
    path {
        fill: transparent;
        stroke: white;
    }
}

.playback-bg {
    background-color: #6a6f77;
}

.zoom{
    margin: 0;
    width: 100%;
    display: grid;
    gap: 9px;
    justify-content: end;
    margin-bottom: 8px;
}


  .right-box .card {
  margin-bottom: 10px;
  margin-top: 10px;
}

.left-box,.right-box{
    width: 50%;
    z-index: 999;
  }

  .row-geo {
    z-index: 999999;
    display: flex;
    justify-content: end;
    position: relative;
    /* bottom: 240px; */
    border-radius: 10px;
  }

  .card {
    background-color: #1b7f6d;
    color: #fff;
  }

  .card-header {
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 2px;
  
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .f-15 {
    font-size: medium;
  }
  
  .card-body-h{
    height: 200px;
    background-color: #57a598;
  }

  .cb-1 {
    height: 80px;
    width: 100%;
    background-color: #57a598;
  }
  
  .cb-2 {
    height: 80px;
    width: 60%;
    background-color: #176A5B
  }
  
  .cb-3 {
    height: 10px;
    width: 100%;
    background-color: #176A5B;
  }

  .c-4 {
    background-color: #57a598;
    border: none;
    border-radius: 10px;
    right: 10px;
    top: 5px;
    color: #fff;
  }
