
<div class="dropdown d-flex">
    <select class="form-select w-100" aria-label="Default select example" (change)="selectedOption($event)">
        <option value="1">All</option>
        <option value="2">Online</option>
        <option value="3">Offline</option>
      </select>
      <div class="menu-icon ms-auto"  (click)="clickEvent()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
          <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      </div>
</div>

